In [2]:
import json
import pandas as pd
data_file = open("../Datasets/archive/yelp_academic_dataset_review.json")
data = []

for line in data_file:
    data.append(json.loads(line))
    
checkin_df = pd.DataFrame(data)
data_file.close()

In [3]:
df = checkin_df[['user_id', 'business_id', 'stars', 'text']].rename(columns={"business_id":"item_id","stars":"ratings","text":"reviews"})

In [4]:
df.head()

,user_id,item_id,ratings,reviews
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,"If you decide to eat here, just be aware it is..."
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,I've taken a lot of spin classes over the year...
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,Family diner. Had the buffet. Eclectic assortm...
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo..."
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,Cute interior and owner (?) gave us tour of up...

In [5]:
df.shape

(6990280, 4)

In [6]:
user_freq = df.groupby('user_id').size().reset_index().sort_values(by=0).rename(columns={0:"size"})
user_freq

                        user_id  size
0        ---1lKK3aKOuomHnwAkAow     1
1143720  ZmzKImRhEa6VG294NNgK0Q     1
1143718  Zmyvg9Bnwdt3k99R5bpNvw     1
1143716  ZmydMBNXUs67tRNIV8vGRw     1
1143715  Zmy_deY39wMqXCjKx6WJyQ     1
...                         ...   ...
481650   ET8n-r7glWYqZhuR6GcdNw  1653
8316     -G7Zkl1wIWBBmD0KRy_sCw  1682
40750    0Igx-a1wAstiBDerGxXk2A  1747
1086212  Xw7ZjaGfr0WNVt6s_5KZfA  1840
1156280  _BcWyKQL16ndpBdggh2kNA  3048

[1987929 rows x 2 columns]

In [15]:
import numpy as np
import statistics

In [68]:
print(f"Média: {np.mean(user_freq['size'])} - Mediana: {np.median(user_freq['size'])} - Moda: {statistics.mode(user_freq['size'])}")

Média: 3.51636300894046 - Mediana: 1.0 - Moda: 1

In [69]:
print(f"{len(user_freq.loc[user_freq['size'] > 10])}")

103251

In [7]:
user_freq_si = user_freq.loc[user_freq['size'] > 20]
len(user_freq_si)

41887

In [8]:
user_freq_id = list(user_freq_si['user_id'].values)
len(user_freq_id)

41887

In [9]:
df_filtered = df.loc[df['user_id'].isin(user_freq_id)]
df_filtered.shape

(2286145, 4)

In [61]:
reviews_len = df_filtered[['user_id','reviews']].copy()

In [62]:
reviews_len['len'] = reviews_len['reviews'].apply(lambda row: len(str(row).strip().split()))
reviews_len.head()

,user_id,reviews,len
0,mh_-eMZ6K5RLWhZyISBhwA,"If you decide to eat here, just be aware it is...",101
2,8g_iMtfSiwikVnbP2etR0A,Family diner. Had the buffet. Eclectic assortm...,55
4,bcjbaE6dDog4jkNY91ncLQ,Cute interior and owner (?) gave us tour of up...,94
13,smOvOajNG0lS4Pq7d8g4JQ,Good food--loved the gnocchi with marinara\nth...,31
14,4Uh27DgGzsp6PqrH913giQ,The bun makes the Sonoran Dog. It's like a snu...,114

In [71]:
print(f"Média: {np.mean(reviews_len['len'])} - Mediana: {np.median(reviews_len['len'])} - Moda: {statistics.mode(reviews_len['len'])}")

Média: 127.7366785571344 - Mediana: 98.0 - Moda: 52

In [10]:
df_filtered.head()

,user_id,item_id,ratings,reviews
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,"If you decide to eat here, just be aware it is..."
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,Family diner. Had the buffet. Eclectic assortm...
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,Cute interior and owner (?) gave us tour of up...
13,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4.0,Good food--loved the gnocchi with marinara\nth...
14,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4.0,The bun makes the Sonoran Dog. It's like a snu...

In [12]:
df_filtered.to_csv("pro_data/yelp_challange.csv", index=False)

In [13]:
item_freq = df.groupby('item_id').size().reset_index().sort_values(by=0).rename(columns={0:"size"})
item_freq

                       item_id  size
80419   XHG8JXyUm4MgmrZ4BhqNdw     5
134824  tUpS1ztCfz7Q13-ZL-lCIQ     5
17736   6SFjEtUtLqZwd8bsMW71lQ     5
134826  tUr7rlfUGwrFVEiNulJXrQ     5
134827  tUrh1N3cIQmBf3TyVQ91mg     5
...                        ...   ...
122423  oBNrLz4EDhiscSlbOl8uAw  5264
147782  ytynqOUb3hjKeJfRj5Tshw  5778
41309   GXFMD0Z4jEVZBCsbPf4CTQ  6160
90484   ac1AeYqs8Z4_e2X5M3if2A  7516
88202   _ab50qdWOk0DdB6XOrBitw  7673

[150346 rows x 2 columns]

In [16]:
print(f"Média: {np.mean(item_freq['size'])} - Mediana: {np.median(item_freq['size'])} - Moda: {statistics.mode(item_freq['size'])}")

Média: 46.49461907865856 - Mediana: 15.0 - Moda: 5

:

In [2]:
data = pd.read_json("../Datasets/archive/yelp_academic_dataset_review.json", lines=True, encoding='iso-8859-1')

ValueError: Could not reserve memory block

In [8]:
file = open("../Datasets/archive/yelp_academic_dataset_review.json", errors='ignore')

In [9]:
users_id = []
items_id = []
ratings = []
reviews = []

for line in file:
    value = line.split('\t')
    reviews.append(value[2])
    users_id.append(value[0])
    items_id.append(value[1])
    ratings.append(value[3])

IndexError: list index out of range

In [13]:
data = pd.read_csv("dataset/Yelp_data/data.csv")

In [42]:
data.head()

,Unnamed: 0,user_id,item_id,ratings,reviews
0,0,5076,752,5.0,"It's hard to believe ""Memory of Trees"" came ou..."
1,1,576,752,5.0,"A clasically-styled and introverted album, Mem..."
2,2,4359,752,5.0,I never thought Enya would reach the sublime h...
3,3,61,752,5.0,This is the third review of an irish album I w...
4,4,1264,752,4.0,"Enya, despite being a successful recording art..."

In [43]:
data['reviews'] = data['reviews'].apply(lambda row: str(row))

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("dataset/Yelp_data/train/Train.csv")
test = pd.read_csv("dataset/Yelp_data/test/Test.csv")
val = pd.read_csv("dataset/Yelp_data/val/Val.csv")

In [4]:
train.head()

,Unnamed: 0,user_id,item_id,ratings,reviews
0,1452899,31277,128928,4.0,"Drunk'n pizza, this is a great place to go aft..."
1,559908,40145,118565,1.0,They seriously have some nerve charging as muc...
2,2153791,8541,96755,5.0,john and his staff are always knowledgible and...
3,2266704,13581,32714,2.0,Update. They are unorganized. Peoples feet wai...
4,668865,4925,29650,5.0,The boyfriend and I came here on our anniversa...

CARP / CARL / PARL

In [5]:
def pass_to_fileout(df):
    new_df = df[['user_id', 'item_id', 'ratings']].rename(columns={
                                                                "user_id":"UserId", 
                                                                "item_id":"ItemId",
                                                                "ratings":"Rating"
                                                                                    })
    new_df['Date'] = [i for i in range(len(new_df))]
    return new_df

In [6]:
trainIterOut = pass_to_fileout(train)
trainIterOut.head()

   UserId  ItemId  Rating  Date
0   31277  128928     4.0     0
1   40145  118565     1.0     1
2    8541   96755     5.0     2
3   13581   32714     2.0     3
4    4925   29650     5.0     4

In [7]:
trainIterOut.to_csv("carp_carl_parl/TrainInteraction.out", sep="\t", header=None, index=False)

In [8]:
ValIterOut = pass_to_fileout(val)
ValIterOut.head()

   UserId  ItemId  Rating  Date
0   21081   65220     5.0     0
1   13842   53590     5.0     1
2   34606   83417     4.0     2
3    2484   21698     3.0     3
4   30428   25159     1.0     4

In [9]:
ValIterOut.to_csv("carp_carl_parl/ValInteraction.out", sep="\t", header=None, index=False)

In [10]:
testIterOut = pass_to_fileout(test)
testIterOut.head()

   UserId  ItemId  Rating  Date
0   37489  123194     4.0     0
1   36281  118924     1.0     1
2   18264   18448     5.0     2
3   31800  133775     4.0     3
4   20019  121720     2.0     4

In [11]:
testIterOut.to_csv("carp_carl_parl/TestInteraction.out", sep="\t", header=None, index=False)

In [14]:
vocab = {}

i = 0
for text in data['reviews']:
    text = str(text).split()
    for word in text:
        if word not in vocab.keys():
            vocab[word] = i
            i += 1

In [15]:
vocab = pd.DataFrame({
    "words":list(vocab.keys()),
    "id": list(vocab.values())
                      })

In [16]:
vocab.to_csv("carp_carl_parl/WordDict.out", sep="\t", header=None, index=False)

In [17]:
userReviewDocument = data.groupby(by="user_id")['reviews'].sum().reset_index()
userReviewDocument.head()

   user_id                                            reviews
0        0  Well, since they only serve dim sum at Ocean H...
1        1  Ordered through Uber Eats. I have mixed feelin...
2        2  Straight up, Yoga Sutra is beautiful. It's spa...
3        3  Wonderful.\n\nThe staff was great, service was...
4        4  Husband and I bought two sandwiches and a few ...

In [18]:
userReviewDocument.to_csv("carp_carl_parl/UserReviews.out", sep="\t", header=None, index=False)

In [32]:
itemReviewDocument = data.groupby(by="item_id")['reviews'].sum().reset_index()
itemReviewDocument.head()

   item_id                                            reviews
0        0                                                  0
1        1  This was my first time to this eye doc and it ...
2        2  Shannon was my support throughout my first del...
3        3  A great Hampton that unfortunately is stuck in...
4        4  Another great location that I can quickly with...

In [33]:
itemReviewDocument.drop(0, inplace=True)
itemReviewDocument.head()

   item_id                                            reviews
1        1  This was my first time to this eye doc and it ...
2        2  Shannon was my support throughout my first del...
3        3  A great Hampton that unfortunately is stuck in...
4        4  Another great location that I can quickly with...
5        5  Consistent.  Fast service.  Good food.  A dine...

In [28]:
itemReviewDocument.to_csv("carp_carl_parl/ItemReviews.out", sep="\t", header=None, index=False)

In [31]:
itemReviewDocument.loc[itemReviewDocument['item_id'] == 3]['reviews'].values

array(['A great Hampton that unfortunately is stuck in the middle of traffic construction hell. The staff was amazing, including, I can\'t remember his name (I\'m ate up with stupid), that gave me a quick 15 second stand up routine. \nThe fitness center was well equiped and breakfast in the morning was one of the better Hampton spreads.\nNeedless to say, due to the Ulmerton Road construction, I didn\'t venture out for dinner but there looked to be plenty of place to feed your face.\nNext Clearwater visit, I\'ll be back.This was a wonderful place to stay! The staff was fabulous... Alicia and Chris at the front desk and Tamika in housekeeping! The room was clean, updated, nice furnishings and the continental breakfast was excellent.It\'s ok. Much construction on the main road make it unattractive. Clean, Comfortable rooms, good breakfast.I was very impressed with this hotel. We stayed here a couple of weeks back while we were looking for an apartment. Nice rooms, great front desk staff, and overall very well run hotel. The only reason I\'m not giving it five stars is it\'s free breakfast. It was terrible to say the least. Not only did I find a hair in my food, but the lady that worked the breakfast area was so inappropriate. She was yelling and joking loudly with other employees across the room while guests where eating, and you could tell the other staff didn\'t really want to engage. She made a great hotel look bad. I\'ve stayed at a lot of Hampton Inns and I always love their breakfast, love their staff, so this was a disappointing part to my stay. However it does help that there is a Starbucks in the same parking lot, right outside. Despite the breakfast mishap I would stay here again in a heartbeat."Treated like a VIP with genuine kindness!"\n\n\nWe came down to Clearwater, Florida for a business trip. From the time we walked into the hotel we were treated like we were VIP guests. I was recognized for my Hilton membership and given all appropriate upgrades available. Alyssa was in charge at the front desk, and she just kept coming up with good options for our stay. She even made the best recommendations for local food.\n\nThe rooms are clean and quiet, and it was easy to set the temperature to a very comfortable level, and it stayed there. The facilities are clean and well decorated. I came down to the lobby for breakfast and was greeted by Joseph who was in charge of the breakfast prep. Joseph was friendly and courteous and took time to see if I needed anything. Please keep in mind, I\'m nobody special, and I\'m certainly not a celebrity, but the way the staff treated me made me feel like I was. :)\n\nIf I\'m going to stay at a hotel, I hope every stay is as good as my time at the Hampton Inn in Clearwater, FL!\n\nhttps://www.tripadvisor.com/ShowUserReviews-g34141-d86195-r468039120-Hampton_Inn_Clearwater_Central-Clearwater_Florida.html#This review is for their conference room only...did not stay here but went to a local work seminar for 2 days.  Hotel seemed nice and clean and hotel staff were very nice.  \n\nThe one weird thing was that there is only 1 bathroom stall for men and women right outside of the conference room that holds about 40 people so our group always had a long line in between meeting breaks....sort of a bad design.\n\nAll in all...is a good hotel and got the job done for our work function.This is a pretty standard Hampton Inn. Not fancy but certainly will do the job. We stayed here with a few of my family members for a couple of nights. We had three rooms between all of us. The rooms were all fine. Clean, decently appointed and generally roomy enough. We did think the king size bed rooms were better than the rooms with two queens. The king size rooms had a couch and seemed more like a suite than a motel room.\n\nOne thing that definitely DID set this hotel apart was the front desk staff. To a person, they were hospitable, friendly and really sincerely kind. I give them a lot of credit -- this hotel is bustling and they do a good job of multitasking and handling everything gracefully. I loved that the employees and manager would see us leaving for a game and then ask us upon our return who won. They seemed to really love having folks visiting who were there for Spring Training and took great pleasure in making sure we had a wonderful place to rest between games. And the housekeeping staff was really great. Very considerate and very kind.\n\nThe free breakfast in the morning is OK. But with a Starbucks in the parking lot and a Cracker Barrel across the street, there is better breakfast to be had for sure. But the hotel coffee is actually really good and was available throughout the day, not just at breakfast time.This is a solid Hampton Inn that I have stayed at once before. I was very happy after a couple of years they kept up the consistency that was already high.\n\nBooking and check-in were easy and staff helpful. The hotel lobby on check-in was clean and presented well.\n\nThe room was clean, but had issues that required maintenance to visit. They quickly acted and took care of the items within minutes and another issue that needed a part for the stool next day. I was impressed.\n\nThe breakfast was extremely orderly and no horrible rush was experienced even though it was sold out. The flow with the long run, two sides and island is what pulls it off. The food is above average. The women working the area were very nice and helpful and kept things full.\n\nWe had one issue with housekeeping on getting the room ready prior to arrival in the day and communication failed badly. The staff quickly pulled it together and got the room ready in 20 minutes from notification. The hotel manager without me asking compensated the night 100%. That was very impressive and speaks to the Hilton brand highly.\n\nThere were several staff involved through the weekend that were very kind and helpful. But front desk staff person Paul shined. Paul checked up in and checked us out. He was at the desk our entire four days and never failed to say hello, or ask us how our day was.\n\nNow, a negative for this location. For quite some time construction will be in progress in front on Ulmerton Rd. This widening is a major pain during peak traffic, so if you may want to take this in consideration.\n\nOne of the highlights is the location with all of the restaurants surrounding it. There is no way you will not find a meal in the vicinity.\n\nRates for the hotel are on the lower end in Clearwater vs. St. Petersburg. But again with some extra travel time due to construction it may not be worth it.We have stayed at this Hampton Inn a number of times, and it is always just as you\'d like.  The staff is friendly and efficient, the hotel is bright and clean as are the rooms, the amenities are right on target and the complimentary breakfast is perfect.  A very comfortable hotel, for sure!I liked this Hampton Inn even though they were renovating the entire lobby. Our room was large for the family so plenty of space for the little one. Microwave and fridge w/ separate sink and food prep area helped. Decent pool for a few swims w/ the little one. I\'m sure the renovations will look great now as the non-renovated areas I saw looked perfectly fine to me.\nClose to the airport but it is not busy so no plane noise at night.Perfect situation for a business traveler.\n\nClose proximity to St. Pete airport\nAirport shuttle and 5 mile radius\nAt the time of this review, shops within the outer parking lot include Starbucks, Pizza and sandwich shop, and Fed Ex Office.\n\nThe room I chose included a separate kitchenette area with refrigerator and microwave.\nIt really does not get much better than this.One of the nicest places to say in Clearwater! Clean rooms, friendly service great locationNice, clean hotel for a quick weekend trip.  Staff was very friendly, all wearing masks.  The room was very clean and they are taking extra precautions due to the virus.  Remotes were wrapped, bags for linens was provided, and if you wished clean linens they were provided in bags as well.  \n\nRoom was a very nice size with couch, desk, and a small refrigerator, which I like so you can keep your beverages cold.   All in all a nice Hampton Inn.'],
      dtype=object)